/* Footer Section */
.foot-container {
  padding: var(--page-p-tb) var(--page-p-lr);
  width: 100%;
}

#footer {
  background-color: #111;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
}
