/* Navbar Styling */

#navbar {
  padding: var(--page-p-tb) var(--page-p-lr);
  flex: 0 1 auto;
  font-family: 'Averia Sans Libre', cursive;
}

.logo {
  display: flex;
  align-items: center;
  /* border: 1px solid white; */
}

.logo img {
  width: 8%;
  cursor: pointer;
}

.logo img:hover {
  animation-name: spinLogo;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.heading {
  position: absolute;
  right: var(--page-p-lr);
  cursor: pointer;
  float: right;
  text-shadow: 2px 2px 20px #eee5;
  /* border: 1px solid white; */
}

.heading:hover {
  text-shadow: 1px 1px 10px #111a, 2px 2px 20px #eeee;
}

.heading h1 {
  margin-bottom: 0;
  font-size: 2.5rem;
}

.heading h4 {
  margin-top: 1%;
}

@keyframes spinLogo {
  50% { transform: scale(0.5, 0.5); }
  100% {transform: scale(1, 1) rotateZ(90deg); }
}
