/* CTA Section */
#cta {
  padding-bottom: calc(2*var(--page-p-tb));
  display: relative;
}

.cta-container {
  position: relative;
  min-width: 80%;
  height: var(--cta-height);
  display: flex;
  align-items: center;
  background-color: #111e;
  border-radius: 0.5rem;
  -webkit-box-shadow: 2px 2px 15px #eee5;
  box-shadow: 2px 2px 15px #eee5;
  /* border: 1px solid white; */
}

.cta-bckdrp-img {
  width: 100%;
  height: var(--cta-height);
  opacity: 0.2;
}

.cta-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 66%;
  /* border: 1px solid white; */
}

.ui-url-cont {
  width: 75%;
}

#ui-url {
  width: 80%;
  font-size: 1.3rem;
  padding: 3%;
  color: #eeee;
  background-color: #111a;
  text-align: center;
  resize: none;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  -webkit-box-shadow: 2px 2px 20px #eee5;
  box-shadow: 2px 2px 20px #eee5;
  margin-bottom: 7%;
}

#ui-url:hover {
  -webkit-box-shadow: 2px 2px 15px #eeee;
  box-shadow: 2px 2px 15px #eeee;
}

#ui-submit {
  font-size: 1.2rem;
  padding: 1rem;
  color: #eeee;
  background-color: #111a;
  resize: none;
  outline: none;
  border: none;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 2px 15px #eee9;
  box-shadow: 2px 2px 15px #eee9;
}

#ui-submit:hover {
  color: #111e;
  background-color: #eeec;
  -webkit-box-shadow: 1px 1px 10px #111a, 2px 2px 15px #eeee;
  box-shadow: 1px 1px 10px #111a, 2px 2px 15px #eeee;
}

/* Page Backdrop */
.bckdrp-logo {
  position: absolute;
  right: 0;
  top: 10vh;
  opacity: 0.15;
  z-index: -1;
}

.bckdrp-logo-big {
  width: auto;
  height: 80vh;
  transform: rotateZ(15deg);
}
