@import "navbarStyle.css";
@import "ctaStyle.css";
@import "footerStyle.css";
@import "resultStyle.css";

:root {
  --page-p-tb: 3%;
  --page-p-lr: 10%;
  --cta-height: 400px;
  --primary-color: #171717;
  --secondary-color: #ededed;
  --comp-color: #444444;
  --contrast-color: #da0037;
}

body {
  background-color: #171717ee;
  color: #ededed;
  display: flex;
  flex-direction: column;
  font-family: 'Averia Sans Libre', cursive;
  height: 100vh;
  margin: 0;
  text-align: center;
  /* text-shadow: 1px 1px 20px #ededed; */
  /* border: 1px solid white; */
}

/* Color Palette */
/* #171717, #444444, #DA0037, #EDEDED */
